html{
    height: 100%; /* Full viewport height */
    margin: 0; /* Remove default margin */
}
body{
    background-color: rgb(194, 217, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Full viewport height */
    margin: 0; /* Remove default margin */
    overflow-x: hidden;
}

header{
    background-color: rgb(110, 176, 234);
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
}
form{
    background-color: white;
    width: 90%; /* Use percentage width for responsiveness */
    max-width: 1000px;
    border-radius: 8px;
    border: 3px solid blueviolet;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-grow: 1; /* Makes form grow to fill available space */
}
form label span{
    color: red;
}
form input, select{
    border-radius: 4px;
    margin: 10px;
}
footer{
    background-color: antiquewhite;
    border: 1px solid;
    width: 100%;
    padding-top: 1%;
    padding-left: 10%;
    margin-top: auto;
}
/* Hide stepper arrows in most browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Hide stepper arrows in most browsers */